.search-bar{
    background-color: var(--primary-color-very-light);
    opacity: .9;
    width: 85%;
    padding: 2em 3em;
    border-radius: .8em;
    display: flex;
    gap: .8em;
}

.location-container,
.dates-container{
    display: flex;
    gap:.8em;
}

.location-container{
    width: 60%;
}

.dates-container{
    width: 40%;
}

.caption-container{
    display: flex;
    align-items: center;
    gap: .5em;
    margin: .5em;
}

.country-selection,
.city-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.dates-selection{
    width: 100%;
}

.city-selection input::placeholder{
    font-size: 14px;
    color : rgba(0, 0, 0, 0.4);
}

.city-selection{
    position: relative;
}

.city-selection input{
    width: 100%;
    padding: 1em;
    flex: 1;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.dropdown-menu{
    position: absolute;
    top:100px;
    background-color: rgb(255,255,255);
    border-radius: 0 0 4px 4px;
    padding: 1em;
    width: 100%;
}

.city-selection li{
    list-style-type:none;
    cursor: pointer;
    font-size: .9em;
    font-weight: 100;
    color :var(--primary-color);
    margin:.5em;
}

/*----- MEDIA QUERIES (1080px) -----*/
@media screen and (max-width:1000px) {
    .search-bar{
        width: 85%;
        flex-direction: column;
        align-items: center;
    }

    .location-container{
        width: 100%;
    }
    
    .dates-container{
        width: 100%;
    }
}

/*----- MEDIA QUERIES (660px) -----*/
@media screen and (max-width:660px) {
    .location-container,
    .dates-container{
        flex-direction: column;
        align-items: center;
    }
}