@font-face {
  font-family: 'grandslang';
  src: url('./assets/fonts/GrandSlang-Roman.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

:root {
  /*Color variables*/
  --primary-color: #3c665f;
  --primary-color-regular: #5fa197;
  --primary-color-light: #bcdbd7;
  --primary-color-very-light: #f5fffd;
  --secondary-color: #efbc80;

  /*Typography variables*/
  --text-font: 'poppins', sans-serif, Arial, Helvetica;
  --title-font: 'grandslang', sans-serif, Arial, Helvetica;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: var(--text-font);
  color: var(--primary-color);
}
